<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Valerie Lopez Resume! </title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- ONLY EDIT BELOW THIS LINE -->
  <main class="mx-auto max-w-3xl px-6 py-10">
  <h1 class="text-4xl font-bold text-brand">Dance Journey</h1>
  <p class="mt-4 text-base leading-relaxed">
    I've always been put in either dance or sports growing up. I use to attend classes at the Carson event center for dance but I didn't feel any pasion for the type of dances I would try. I went from Ballet to Hip Hop and to many more. My mom started to lose hope and thought maybe dance wasn't my thing. This is until my mother found out about this folklorico group local to us. It was always my families dream to see me dance folklorico. I remeber crying about not wanting to go but my mother said if I didn't like the first class I wouldn't have to go back. I enjoyed the first class and from then on I attended every class. Now I have been dancing for folklorico for about 7 years and when times got tough I just found peace in folklorico.
  </p>
</main>
<a href="index.html" class="text-accent underline">Back to my resume!</a>
        <!-- ONLY EDIT ABOVE THIS LINE -->

       
  </body>

</html>