<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Valerie Lopez Resume! </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- ONLY EDIT BELOW THIS LINE -->

  <header>
    <img src="headshot.jpg" alt="Valerie Lopez" class="headshot">
    <h1> Valerie Lopez </h1>
    <p> Hello, my name is Valerie Lopez I am 14 years old. This is my first year apart of the Summer Youth Program working for information technology and security here at Carson City hall. I grew up here in Carson California my whole life and so did my family of course.  </p>
    <button id="dark-mode-toggle">🌙 Dark Mode</button>
  </header>

  <section id="about">
    <h2>About Me</h2>
    <p>
       I am a freshmen entering carson high school. I plan after highschool to eventually become a ultrasound technician or pediatrician. I hope to learn new skills that I could use in the future and plan to give this program my all. I plan to hopefully go to UCLA one day.
    </>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <ul>
      <li>My program in middle school required me to take something called Project Based Learning</li>
      <li>We called it PBL for short I did this for 3 years about 5 times</li>
      <li>PBL helped challenge students to real life problem solving skills for a specfic cause and what could we do to help</li>
    </ul>
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <ul>
      <li> A skill I have is good communication skills with large groups or small groups</li>
      <li> I work well with others so I have good teamwork skills and know how to work as a group no matter who I work with</li>
    </ul>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>
      <a href="#">https://github.com/vvaleriee-lopez></a>
    </p>
  </section>

  <footer>
    <p>&copy; 2026  Valerie Lopez </p>
  </footer>

  <!-- ONLY EDIT ABOVE THIS LINE -->

  <script src="script.js"></script>
</body>
</html>
